services:
  db:
    image: postgres:16.2-alpine # Use a specific version and a smaller image variant
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword # Required variable for the default user
      POSTGRES_USER: myuser             # Optional: creates a custom user (default is 'postgres')
      POSTGRES_DB: mydatabase           # Optional: creates a custom database (default is 'postgres')
    ports:
      - "5432:5432" # Maps port 5432 on your host to the container's port
    volumes:
      - db_data:/var/lib/postgresql/data # Persist data in a named volume

volumes:
  db_data:
    driver: local